# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

submission/
*.pdf
*.aux
*.log
*.synctex.gz
submission.zip

classes/

tatest/*.java
tatest/classes

*.crc
